/* ------------------------------------------------- components --------------------------------------------------- */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* --------------------------------------------------- classes ---------------------------------------------------- */
.carousel-item {
  padding: 7% 15%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.press-icons {
  margin: 20px 20px 50px;
  width: 15%;
}
.pricing-column {
  padding: 3% 2%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.testimonials-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.title-image {
  position: absolute;
  right: 25%;
  transform: rotate(25deg);
  width: 20%;
}

/* ----------------------------------------------------- ids ------------------------------------------------------ */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

#pricing {
  padding: 100px;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}
